body {
  position: relative;
  min-height: 100vh;

}
.container{
 padding-bottom:100px;
}
footer {
  background:#47cf73;
  font-weight: bold;
  color:#000;
  position: absolute;
  bottom: 0;
  padding:10px;
  width: 100%;        
}
footer a{
  color:white
}